<a href="https://colab.research.google.com/github/SparshaAbhinethri/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating & Calling a function

In [ ]:
def my_name():
  print("My name is Sparsha")

my_name() #calling a function .... we get o/p only when we write this

My name is Sparsha

Parameters in a function

In [ ]:
def my_name(a):
  print("My name is " + a )

my_name("Sparsha") #for 1 parameter

def name(a,b):
  print("My name is " + a + " " + b)

name("Sparsha" , "Abinethri") #for 2 parameters

def second(country = "India"):
  print("I live in " + country)

second("India")
second("Switerzland")
second()       #default parameter

My name is Sparsha
My name is Sparsha Abinethri
I live in India
I live in Switerzland
I live in India

Return values and multiplication table

In [ ]:
def multiply(a):
  for i in range(1,10):
    c = a * i
    print("{} * {} =  {}".format(a,i,a * i))

multiply(5)


def ret(a):
  return a * 4

ret(6) #return value

5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45

24

Arithmetic Operations

In [ ]:
def arithmetic(a,b):
  print("{} + {} = {}".format(a,b,a+b))
  print("{} * {} = {}".format(a,b,a*b))
  print("{} / {} = {}".format(a,b,a/b))
  print("{} - {} = {}".format(a,b,a-b))
  print("{} to the power {} = {}".format(a,b,a**b))
  print("{} % {} = {}".format(a,b,a%b))
  

arithmetic(10,5)

10 + 5 = 15
10 * 5 = 50
10 / 5 = 2.0
10 - 5 = 5
10 to the power 5 = 100000
10 % 5 = 0

Max of the numbers

In [ ]:
def maximum(a,b,c,d,e):
  print( max(a,b,c,d,e))  #in-built max function

maximum(1.5,2,3.5,0,2.6)

#or

def maximum1(x,y,z):
  if x > y and x > z:
    return x
  elif y > x and y > z:
    return y
  else:
    return z

maximum1(10,30,20)

#if we write return , only the last iteration will be printed
# if we write print , then both the iterations will be printed

3.5

30

Sum of numbers in a list

In [ ]:
def sum(numbers):
  sum1 = 0
  for i in numbers:
    sum1 += i #automatic typecasting is done if we write code as sum += 1 , else , it gives an error (sum = sum + i)
  return sum1
print(sum((10,2,3,4,10)))  #this is how , we print list 

def a(nums):
  print(sum(nums))
a((10,20,10,20,10))

29
70

Multiply all numbers in a list

In [ ]:
def multiply(numbers):
  product = 1
  for i in numbers:
    product = int(product) * int(i)
  return product
print(multiply((1,2,3,4,5,-1)))

-120

Reverse a string

In [ ]:
def name(a):
  a = a[::-1]
  
  return a

name("Sparsha")

'ahsrapS'

Factorial of a number

In [ ]:
def fact(a):
  product = 1
  if a == 0:
    return 1
  for i in range(1,a+1):
    product = product * i
  return product

print("The factorial of a given number is {}".format(fact(6)))

The factorial of a given number is 720

Check whether a number is in the range

In [ ]:
def check(a,b,c):
  if a in range(b,c):
    return 'Yes,the number exists in the given range'
  else:
    return "No,the given number doesn't exist in the given range"

check(10,11,15)
check(50,50,500)

'Yes,the number exists in the given range'

To print even numbers from the list

In [ ]:
def even(num):
  for i in num:
    if i%2==0:
      print(i) #if we write return ,the o/p gives only 2
#but if we write print, the o/p gives all even numbers in a list

even((0,1,2,3,4,5,6,7))

0
2
4
6

To check if a string is palindrome

In [ ]:
def palin(a):
  if a == a[::-1]:
    return "Yes ,the string is a palindrome"
  else:
    return "The given string is not a palindrome"

palin("excuse")

'The given string is not a palindrome'

Count the upper and lowercase letters in a string

In [ ]:
def count(a):
  upper = 0
  lower = 0
  spaces = 0
  for i in a:
     if i.isupper():
        upper += 1
     elif i.islower():
       lower += 1
     else:
       spaces += 1
  print("Upper characters : {}".format(upper))
  print("Lower characters : {}".format(lower))
  print("Other characters : {}".format(spaces))

count("#Sparsha Abinethri Koti")

Upper characters : 3
Lower characters : 17
Other characters : 3

List of squares of numbers between 1 and 30

In [ ]:
def squares(a,b):
  square = []
  for i in range(a,b+1):
    c = i**2
    square.append(c)
  print(square) #if we write return, vertical ga print ithey and if we write print, horizontal ga print ithey

squares(1,30)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Check if a number is prime or not

In [ ]:
def isprime(a):
  for i in range(2,a):
    if a%i == 0:
       return "No, the given number is not a prime number"
       break
       
    else:
      return "Yes, the given number is a prime number"

isprime(6)

'No, the given number is not a prime number'

Check if the number is perfect number or not

In [ ]:
def number(a):
  sum = 0
  for i in range(1,a):
    if a%i == 0:
      sum += i
  if a == sum or ((a+sum)/2)==a:
    return "The given number is a perfect number"
  else:
    return "The given number is not a perfect number"

number(496)

'The given number is a perfect number'