<a href="https://colab.research.google.com/github/SparshaAbhinethri/Python/blob/main/Practice_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Factors , Prime Factors and largest prime factor

to give array inputs

In [ ]:
n = int(input())
Array=list(map(int, input().split(" ")[:n]))
print(Array)
print(max(Array))
Array.remove(max(Array))
print(Array)

5
1 2 3 4 5
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

to find 2nd largest eement in an array

In [ ]:
n = int(input())
b=list(map(int, input().split(" ")[:n]))
a = set(b) # set function in used to remove duplicates in an array
a.remove(max(a))
print(max(a))

5
1 2 3 5 6 6
5

set difference and intersection

In [ ]:
n = int(input())
arr = map(int,input().split(" ")[:n])
m = int(input())
arr1 = map(int,input().split(" ")[:m])
a = set(arr)
b = set(arr1)
c = a.difference(b)
d = a.intersection(b)
e = a.union(b)
f = a.symmetric_difference(b) #a+b - a intersec b
print(len(c))
print(len(d))
print(len(e))
print(len(f))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4
5
13
8

symmetric difference

In [ ]:
n = int(input())
arr = map(int,input().split(" ")[:n])
m = int(input())
arr1 = map(int,input().split(" ")[:m])
a = set(arr)
b = set(arr1)
f = a.symmetric_difference(b)
f = list(f)

for i in range(0,len(f)):
    d = min(f)
    print(d)
    f.remove(d)

4
1 2 5 9
4
1 2 11 7
5
7
9
11

In [ ]:
a = int(input("Enter the number : "))
factors = []
primefactors = []
for i in range(1,a+1):
  if a % i == 0:
    factors.append(i)
print("The factors of a given number are {}".format(factors))
sum = 0
for i in factors:
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    primefactors.append(i)
print("The prime factors of a given number are {}".format(primefactors))
max = primefactors[0]
for k in range(0,len(primefactors)):
  if primefactors[k] > max:
    max = primefactors[k]
print("The largest number of the prime factors is {} ".format(max))

Enter the number : 56
The factors of a given number are [1, 2, 4, 7, 8, 14, 28, 56]
The prime factors of a given number are [1, 2, 7]
The largest number of the prime factors is 7

Common Divisors of 2 numbers

In [ ]:
a = int(input())
b = int(input())
facta = []
factb = []
common = []
for i in range(1,a):
  if a%i==0:
    facta.append(i)
print(facta)
for i in range(1,b):
  if b%i==0:
    factb.append(i)
print(factb)

print(list(set(facta) & set(factb)))

#method 2

for i in range(1,min(a,b)+1):
  if a%i == b%i == 0:
    print(i)

56
64
[1, 2, 4, 7, 8, 14, 28]
[1, 2, 4, 8, 16, 32]
[8, 1, 2, 4]
1
2
4
8

To find focal length of both convex and concave mirrors

In [ ]:
Radius = float(input())
Mirror = input("Is the mirror Concave or Convex ? ")
if Mirror=="Concave":
  print("The focal length of a concave mirror is {} ".format(Radius/2))
if Mirror=="Convex":
  print("The focal length of a convex mirror is {} ".format(-Radius/2))

5
Is the mirror Concave or Convex ? Convex
The focal length of a convex mirror is -2.5

Check if the angles match with the properties of triangle

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a!= 0 and b!=0 and c!=0 and (a+b+c)==180 :
  if (a+b > c) or (b+c > a)  or (a+c > b):
    print("The given angles satisfy the properties of a triangle")
else:
  print("The given angles doesn't satisfy the properties of a triangle")

40
30
40
The given angles doesn't satisfy the properties of a triangle

Most occuring character in a string and its count

In [ ]:
from collections import Counter
a = input()
a = a.casefold() #converts every character to lower case
count = Counter(a)
print(count)

sparsha
Counter({'s': 2, 'a': 2, 'p': 1, 'r': 1, 'h': 1})

In [ ]:
a = int(input())
b = int(input())
d = []
e = ""
for i in range(b):
    c = input()
    d.append(c)
e = e.join(d)

print(4*e)

4
2
a
b
abababab

In [ ]:
a = int(input())
b = int(input())
if 1 <= a <= 100000 and 1 <= b <= min(a,100):
   d = []
   f = []
   for i in range(b):
       c = input()
       if "a" <= c <= "z":
           d.append(c)
   for element in d:
       f.append(element.strip()) #to remove next line in list elements

   e = "".join(f)

   print(a*e)

no idea

In [ ]:
a = list(map(int,input().split(" ")))
n = a[0]
m = a[1]
array = list(map(int,input().split(" "))) #list inputs
set1 = set(map(int,input().split(" ")))  #set inputs
set2 = set(map(int,input().split(" ")))
count = 0
for i in array:
  if i in set1:
    count = count + 1
  elif i in set2:
    count = count - 1
  else:
    count  = count 
print(count)

2 3
1 5 3
1 3
5 7
1

In [ ]:
x, y = [int(x) for x in input().split()]  #giving 2 inputs in a single line
print(x)
print(y)

3 4
3
4

print unique elements

In [ ]:
n = int(input())
arr = list(map(int,input().split(" ")))
m = [x for x in arr if arr.count(x)!=n]
print(m)

5
1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 8
[8]

In [ ]:
n = int(input())
ar = []

for j in range(1,n+1):
    ar.append(j)
for i in ar:
  print(i,end="") #print list as string

3
123

In [ ]:
n = int(input())
l= []
for i in range(n):
    c = input()
    l.append(c)

In [ ]:
n = int(input())
a = list(map(int,input().split(" ")))
for i in range(0,n):
  if a[-i] > a[-i+1] or a[i] > a[i+1]:
    print("Yes")
  else:
    print("No")

6
4 3 2 1 2 3 4
Yes
Yes
Yes
No
No
Yes

In [ ]:
a = list(map(int,input().split(" ")))
n = a[0]
m = a[1]
array = list(map(int,input().split(" "))) #list inputs
array = set(array)
set1 = set(map(int,input().split(" ")))  #set inputs
set2 = set(map(int,input().split(" ")))
b = len(array.intersection(set1))
c = len(array.intersection(set2))
print(b-c)

2 3
1 5 3
1 3
5 7
1

In [ ]:
n = int(input())
a =list(map(input().split(" ")))
for i in a:

if n number of test cases are given ... is a1 subset of b1?

In [ ]:
n = int(input())
for i in range(n):
    a = int(input())
    a1 = set(map(int,input().split(" ")))
    b = int(input())
    b1 = set(map(int,input().split(" ")))
    print(a1.issubset(b1))

3
3
1 2 3
3
1 2 4
False
2
3 5
4
1 3 4 5
True
5
1 2 3 4 5
2
1 2
False

In [ ]:
a = set(map(int,input().split(" ")))
n = int(input())
l = []
for i in range(n):
    b = set(map(int,input().split(" ")))
    d = a.issuperset(b)
    l.append(d)
x = all(l) #returns true if all elements are true, else false
print(x)

1 2 3 4 5
2
10 11 12
1 2 3
False

In [ ]:
n = 5
a = ""
for i in range(1,n+1):
  for j in range(i):
    print(i)
  print("\n")

for k in range(1,n+1): 
    print(k * 10**k //9)

1


2
2


3
3
3


4
4
4
4


5
5
5
5
5


1
22
333
4444
55555

In [ ]:
n = input()
a = list(n)
print(a)
a = a.sort(reverse=False)
print(a)

Sorting1234
['S', 'o', 'r', 't', 'i', 'n', 'g', '1', '2', '3', '4']
None

In [ ]:
a = list(map(int,input().split(" ")[:2]))
n = a[1]
m = a[0]
for i in range(n):
  b = list(map(int,input().split(" ")[:m]))
  c = sum(b)/m
  print(round(c,1))

5 3
89 90 78 93 80
86.0
90 91 88 85 86
88.0
98 67 34 32 15
49.2

In [ ]:
n = int(input())
arr = list(map(int,input().split(" ")))

m = [x for x in arr if arr.count(x)!=n]
print(m)

5
1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 8
[8]

In [ ]:
import numpy as np

myArray=np.array([1,2,4])  #func used to convert [1,2,3] list into an array
print(myArray)

[1 2 4]

In [ ]:
T = int(input())
for tc in range(T):
	# Read integers a and b.
	(a, b) = map(int, input().split(' '))
	
	ans = a + b
	print(ans)

T = int(input())
for tc in range(T):
	# Read integers a and b.
	(a, b) = map(int, input().split(' '))
	
	ans = a + b
	print(ans)

  test case additions

In [ ]:
n = int(input())
for i in range(n):
    x = list(map(int, input().split(' ')[:3]))
    a = max(x)
    x = x.remove(a)
    print(max(x))

2
12 34 3
None
1 2 3
None

for printing floatinig points upto those many places

print("{:.2f}".format(a))

13.95

print("{:.2f}".format(round(a, 2)))

13.95

 print("{:.15f}".format(round(a, 2)))
 
13.949999999999999

Armstrong no

In [ ]:
n = int(input())
temp = n
sum1 = 0
while(temp > 0):
    a = temp % 10
    sum1 = sum1 + a**3
    temp = temp//10
print(sum1)

153
153

Narcissist number

In [ ]:
n = int(input())
sum1 = 0
temp = n
a = n 
d =0
while(a>0):
  d = d+ 1
  n = n//10
while(temp>0):
  b = temp % 10
  sum1 = sum1 + b**int(d)
  temp = temp//10
if n == sum1:
  print("Yes")
else:
  print("No")

In [ ]:
n = int(input())
a = list(map(int,input().split(" ")))
b = a[::-1]
c = ' '.join([str(item) for item in b ])

print(c)

5
1 2 3 4 5
5 4 3 2 1

In [ ]:
x, y = [int(x) for x in input().split()] 
print(y.issubset(x))

10 1

In [ ]:
a = 4
x, y,z = [int(x) for x in a]

In [ ]:
n = input()
n = n.lower()
a = "abcdefghijklmnopqrstuvwxyz"
n = set(n)
n = "".join(n)
print(n)
if len(n) == 26 or 27:
    print("pangram")
else:
    print("not pangram")

We promptly judged antique ivory buckles for the next prize
kiunawectgjdrhqszofmvxp bly
pangram

In [ ]:
n = int(input())
a = "G"
b = "d"
d = n * "o"
print(d)
print(a+d+b)

4
oooo
Gooood

In [ ]:
n = input()
a = n[0]
b = n[1]
even = ""
odd = ""

for i in range(2,len(n)):
    if i%2 == 0:
       even = even + n[i]
    else:
       odd = odd + n[i]
even = a + even
odd = b + odd
print(odd+even)

afdg5tg
fgtad5g

In [ ]:
(a,b) = map(int,input().split(" "))
zer = 0
n = (a*b)/2 

count = 0
for i in range(a):
    x = list(map(int,input().split(" ")[:b]))
    for j in x:
      if j == 0:
        count = count + 1
if count > n:
  print("Yes")
else:
  print("No")

2 3
5 0 0
0 8 0
Yes

In [ ]:
n = input()
n = list(n)
a = []
for i in n:
  if n[i]

In [ ]:
n = int(input())
l= []
for i in range(n):
    a = int(input())
    x = list(map(int,input().split(" ")[:a]))
    for j in x:
        b = x.count(j)
        l.append(b)
print(l)

1
8
5 9 2 9 7 2 5 3
[2, 2, 2, 2, 1, 2, 2, 1]

In [ ]:
import random
x = list(map(int,input().split(" ")[:5]))
l = []
m= []
for i in range(10):
    b = random.sample(x,4)
    print(b)
    m.append(sum(b))
       
print(m)
print("{} {}".format(min(m),max(m)))

1 2 3 4 5
[3, 5, 2, 1]
[2, 5, 1, 3]
[2, 4, 1, 5]
[4, 3, 5, 2]
[4, 3, 1, 5]
[3, 1, 5, 2]
[5, 1, 2, 4]
[1, 5, 3, 4]
[4, 5, 2, 3]
[4, 3, 5, 2]
[11, 11, 12, 14, 13, 11, 12, 13, 14, 14]
11 14

In [ ]:
n = int(input())
count = 0
for i in range(n):
    a = input()
    b = list(a)
    for j in b:
        if int(j) != 0:
            if int(a) % int(j) == 0:
               count = count + 1
    print(count)
    count = 0

2
12
2
1012
3

In [ ]:
n = int(input())
a = int(input())
x = list(map(int,input().split(" ")[:a]))
print(x.index(n))

4
6
1 4 3 5 6 7
1

In [ ]:
a = input()
a = list(a)
b = " "
for i in a:
  if 64 < ord(i) < 91:
    print("\n")
  else:
    b = b+ i
  print(b)

saveChangesInTheEditor
 s
 sa
 sav
 save


 save
 saveh
 saveha
 savehan
 savehang
 savehange
 savehanges


 savehanges
 savehangesn


 savehangesn
 savehangesnh
 savehangesnhe


 savehangesnhe
 savehangesnhed
 savehangesnhedi
 savehangesnhedit
 savehangesnhedito
 savehangesnheditor

In [ ]:
n = int(input())
x =map(int,input().split(" ")[:n]))
b = " "
x.sort()
for i in x:
    b = " ".join(str(i))
print(b)

6
1 5 4 3 2 6
6

In [ ]:
n = int(input())
x =list(map(int,input().split(" ")[:n]))
a = " "
for i in range(0,n):
  b = x.count(x[i])
  a = a + str(b)
print(a)

In [ ]:
n = int(input())
for i in range(n):
    a,b,c = list(map(int,input().split(" ")))
    d = c - a
    d = abs(d)
    e = c - b
    e = abs(e)

    if  d > e:
        print("Cat B")
    elif d < e:
        print("Cat A")
    else:
        print("Mouse C")
print(d)
print(e)

2
1 2 3
Cat A
1 3 2
Mouse C
1
1

In [ ]:
n = int(input())

m = []
for i in range(n):
    a = input()
    l = list(a)
    b = input()
    b = list(b)
    l.extend(b)
    for k in l:
       c = l.count(k)
       m.append(c)

    if 2 in m:
        print("YES")
    else:
        print("NO")

2
hello
world
YES
hi
world
YES

In [ ]:
for i in range(1,100):
  a = i
  b = i * i
  sum1 = 0
  sum2 = 0
  while(a>0):
    r = a % 10
    sum1 = sum1 + r
    a = a//10
  while(b>0):
    r1 = b % 10
    sum2 = sum2 + r1
    b = b//10
  if sum1==sum2:
    print(a)