<a href="https://colab.research.google.com/github/SparshaAbhinethri/Python/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basics of Strings

In [ ]:
a = 'Sparsha Abinethri'
print(a) #single line
b = '''My name is 
Sparsha Abinethri
Koti''' #multiline
print(b)

Sparsha Abinethri
My name is
Sparsha Abinethri
Koti

Slicing of strings

In [ ]:
a = "Laptop is so damn precious"
#slicing
print(a[0])
print(a[2:5])
print(a[-1])
print(a[-5:-2])
print(a[1:15:2])

L
pto
s
cio
atpi od

Arithmetic operations on strings

In [ ]:
a = "Sparsha"
b = "Abinethri"
print(a+b)
print(a * 3)

SparshaAbinethri
SparshaSparshaSparsha

String methods

In [ ]:
a = "India is my country"
print(len(a))
print(a.count("i"))
print(a.capitalize())
print(a.casefold())
print(a.center(20))

19
2
India is my country
india is my country
India is my country

Print even indexed letters in a string

In [ ]:
a = "India is my country"
print(a[0:19:2])

Idai ycuty
/n

palindrome

In [ ]:
a = input()
b = a[::-1]
print(b)

if a==b:
  print("Yes, the given string is a palindrome")
else:
  print("No, the given string is not a palindrome ")

mom
mom
Yes, the given string is a palindrome

Reverse the words

In [ ]:
a = input()
b = a.split(' ')
c = ' '.join(reversed(b))
print(c)

India is my country
country my is India

To check if a sub-string is present in the given string

In [ ]:
a = input()
b = input()
if b in a:
  print("yes")
   
else:
  print("No")

sparsha abntehir is
is
yes

Count no.of words/letters

In [ ]:
a = input()
b = input()
x = a.count(b)
print(x)

apples are apples because apple is an apple
apples
2

Count even lettered words

In [ ]:
a = input()

b = a.split(" ")

for i in b:
  e = len(i)
  if e%2==0:
    print(i)

ths is me
is
me

Accepting strings which contain all the vowels

In [ ]:
a = input()

if ('a'in a and 'i' in a and 'e' in a and 'o' in a and 'u' in a):
  print("The given string contains all the vowels")
  print(a)
else:
  print("The given string doesn't contain all the vowels ")

suspect
The given string doesn't contain all the vowels

Count vowels in a string

In [ ]:
a = input()
vowels = a.count("a") + a.count("i")+ a.count("e") + a.count("o") + a.count("u")
print(vowels)

massachutes institute of technology
12

Print strings only that are greater than certain limit

In [ ]:
a = input()
k = int(input())
b = a.split(' ')
for i in b:
  if len(i) > k:
    print(i)

Since the childhood, we got back then i
2
Since
the
childhood,
got
back
then

program to split and joined words

In [ ]:
a = input()
b = a.split(' ')
print(b)
c = " ".join(b)
print(c)

The world is flying
['The', 'world', 'is', 'flying']
The world is flying

Print uncommon words from both the strings

In [ ]:
a = input()
a1 = a.split(' ')
b = input()
b1 = b.split(' ')
c = []
for i in a1:
  for j in b1:
    if i==j:
      break
  else:
    print(i)
    print(j)

the wron thin
the right thin
wron
thin

Swap commas with fullstops and vice versa

In [ ]:
a = input()
b = a.replace(",","$")
c = b.replace(".",",")
d = c.replace("$",".")
print(d)

you,i.
you.i,

Check if a string has special characters

In [ ]:
a = input()
b = []
for i in a:
  if( 65 > ord(i)>57 or 32<ord(i)<47 or 91<ord(i)<96 or 123<ord(i)<126 ):
    print("Yes,the string contains special characters")
    break
    
else:
  print("The string doesn't contain any special characters")

hfeuewkj?.?
Yes,the string contains special characters

Remove duplicates from the string

In [ ]:
a = input()
b = set(a)
b = "".join(b)
print(b)

sparsha
prhas

Removes ith character from the string

In [ ]:
a = input()
b = ""
for i in range(len(a)):
  if i!=2:
    b = b + a[i]